.tabs {
  // display: flex;
  // background-color: aqua;
  // width: 100%;

  padding: 5px 0px;


  display: flex;
  align-items: center;

  // justify-content: center;
  flex-wrap: nowrap;

  overflow: auto;
  // overflow: hidden;

  // max-width: 90%;

  &::-webkit-scrollbar {
    display: none;
  }
  &:hover{
    cursor: pointer;
  }

  .colorTab {
    background-color: bisque !important;
  }

  .tab {
    display: flex;
    margin: 2px 5px;
    padding: 5px 10px;
    background-color: white;
    justify-content: space-between;
    border-radius: 3px;
    gap: 20px;
    p{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 120px;

      margin: 0px;
      font-size: 14px;
    }
  }
}

.tabs__wrapper {
  display: flex;
  // position: absolute;
  margin: 10px 0px;
  background-color: aliceblue;
}

.box__grooming {
  // display: flex;
    -webkit-box-shadow: 3px 3px 4px -2px #6b6b6b3b;
    -moz-box-shadow: 3px 3px 4px -2px #6b6b6b3b;
    box-shadow: 3px 3px 4px -2px #6b6b6b3b;
    background-color: white;
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 5px;
}

.addtabs {
  background-color: #e5e7ed;
  display: flex;
  margin: 7px 2px;
  padding: 0px 9px;
  border-radius: 100px;
  height: 28px;
  &:hover {
    cursor: pointer;
  }
  // position: absolute;
}

// .headers {
//   display: flex;
//   width: 100%;
//   // justify-content: space-between;
// }

// .column {
//   width: fit-content;
// }

// table {
//   font-family: verdana, arial, sans-serif;
//   font-size: 10px;
//   margin-left: auto;
//   margin-right: auto;
//   border-collapse: collapse;
// }
// tr, th, td {
//   border: 0.5px solid gray;
// }





.app__container {
  width: 90%;
  margin: auto;


  .fluid__table__container {
    // width: 100%;
    // overflow: auto;
  }
}

.closeTab {
  font: small-caption;
}

.query__wrapper {
  // background-color: #2026d2;

  .query__search {
    width: 60%;
    margin: 10px 0px;
    // margin: auto;
    textarea {
      width: 100%;
      background-color: #e5e7ed;
      border: none;
      border-radius: 5px;
      height: 80px;
      padding: 8px;
      resize: vertical;
      font-weight: 500;
      font-family: sans-serif;
      &:focus-visible {
        outline: none
      }
    }
    button {
      background-color: #625ed7;
      color: white;
      border: none;
      padding: 5px 20px;
      border-radius: 3px;
      // display: block;
      // margin-left: auto;
      // margin-right: 0px;
      font-weight: 600;
    }
  }
}